<!-- TABLE -->
<div class="parent">
    <div class="child">
        <!-- Bootstrap class 'table table-striped' adds stripes to table rows.
        'table-bordered border-white' adds borders to table-->
        <table class="table table-sm table-bordered border-dark-subtle">
            <thead class="thead">
            <tr>
                <!-- Create headers for table. -->
                <th class="column-headers" scope="col"></th>
                {% for header_name in headers %}
                <th scope="col" class="headers {{ header_name }}-header-name">{{ header_name }}</th>
                {% endfor %}
                <!-- ##################### -->
            </tr>
            </thead>

            <!-- Create table rows with data from SQL by looping through data list -->
            <tbody class="tbody">
            <!-- fetch data -->
            {% for rows_data in data %}
            <tr id="table-row">
                <!-- Adds row number, starts from 1 -->
                <th scope="row">{{ rows_data[0] + 1 }}</th>

                <!-- Adds row data, except 'id' row -->
                {% for row in rows_data[1][1:6] %}
                <td> {{ row }}</td>
                {% endfor %}
                <!-- add status row-->
                {% for row in rows_data[1][6:7] %}
                    {% if row == "IN PROCESS" %}
                        <td class="status-row" id="process">{{ row }}</td>
                    {% elif row == "FINISHED" %}
                        <td class="status-row" id="finished">{{ row }}</td>
                    {% else %}
                        <td class="status-row">{{ row }}</td>
                    {% endif %}
                {% endfor %}
                <!-- add comments row-->
                {% for row in rows_data[1][7:8] %}
                <td class="comments-row"> {{ row }}</td>
                {% endfor %}
                <!-- Adds updated row -->
                {% for row in rows_data[1][8:9] %}
                <td> {{ row }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <!-- ##################### -->
            </tbody>

        </table>
    </div>
</div>
